{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>DG1S WEB SYS</title>
    <link href="/static/images/mlogo.png" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Server error</div>
                <a href="/" class="btn btn-link">홈으로 돌아가기</a>
                <a href="https://forms.gle/hR6gW2JaZXz6k7Kr5" class="btn btn-link">문의</a>
            </div>
        </div>
    </div>
</body>