{% extends 'base.html' %}
{% block content %}

<div class="container my-3" style="font-family: 'KoPub Dotum'">
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>학번</th>
                <th>상태</th>
                <th>사유</th>
            </tr>
        </thead>
        <tbody>
        {% if card_list %}
            {% for card in card_list %}
            <tr>
                <td onClick="location.href='{% url 'pybo:detail' card.stu.id %}'">{{ forloop.counter }}</td>
                <td class="border fw-bold" onClick="location.href='{% url 'pybo:detail' card.stu.id %}'">
                    {{ card.stu.num }}{{ card.stu.name }}</td>
                <td class = "border" onClick="location.href='{% url 'pybo:detail' card.stu.id %}'">
                    {{ card.to }} </td>
                <td onClick="location.href='{% url 'pybo:detail' card.stu.id %}'">{{ card.why }}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 이벤트가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if card_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ card_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in card_list.paginator.page_range %}
        {% if page_number == card_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if card_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ card_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>

{% endblock %}