{% extends 'base.html' %}
{% block content %}

<div style="padding:10px">
    <div style="text-align: center; margin-bottom: 70px; margin-top: 50px">
        <h1 class="text p-2" style="font-family: 'Gmarket'; text-align: center; font-size: 24px;">창의적이고 따뜻한 과학인재</h1>
        <div style="display: flex; justify-content: center; align-items: center;width: 100%">
            <img src="/static/images/mlogo.png" style="width: 40px; height: 40px;margin-bottom: 5px"></img>
            <h1 class="text" style="font-family: 'Gmarket'; font-size: 37px;margin:0">대구일과학고등학교</h1>
        </div>

        <div style="margin: 2%"></div>

        <div style="display: inline-block; text-align: center;">
            <form class="d-flex" method="POST" action="{% url 'pybo:toQuick' %}" id="num" name="num" style="width: 300px">
                {% csrf_token %}
                <div class="input-group" style="width: 250px;">
                    <input class="form-control" type="search" style="font-family: 'gmarket'" placeholder="학번 입력" id="num" name="num" aria-label="search">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i></button>
                </div>
                <div>
                    <a class="btn btn-warning" style="margin-left: 5px" href="{% url 'pybo:name' %}"><i class="bi bi-pencil-square"></i></a>
                </div>
            </form>
        </div>
    </div>
    <div class="my-auto" style="font-family: 'Gmarket'; display:flex; flex-wrap: wrap; padding: 2%;font-size:18px;">
        <div class="col mx-2" style="min-width: 350px;">
            <div style="text-align: center">
                <div class="btn-group" role="group" style="" aria-label="Basic example">
                    <a href="{% url 'pybo:hhome' day=day|add:'-1' %}" class="btn btn-outline-secondary"><i class="bi bi-caret-left"></i></a>
                    <input type="text" id="datePicker" class="btn btn-outline-secondary" style="width: 160px;" value="{{ t }}" readonly>
                    <a href="{% url 'pybo:hhome' day=day|add:'1' %}" class="btn btn-outline-secondary"><i class="bi bi-caret-right"></i></a>
                </div>
            </div>
            <br>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button {% if ex != '1' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="{% if ex == '1' %}true{% else %}false{% endif %}" aria-controls="panelsStayOpen-collapseOne">
                            아침
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse {% if ex == '1' %}show{% endif %}" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            {% for i in b %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button {% if ex != '2' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="{% if ex == '2' %}true{% else %}false{% endif %}" aria-controls="panelsStayOpen-collapseTwo">
                            점심
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse {% if ex == '2' %}show{% endif %}" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            {% for i in l %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                        <button class="accordion-button {% if ex != '3' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="{% if ex == '3' %}true{% else %}false{% endif %}" aria-controls="panelsStayOpen-collapseThree">
                            저녁
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse {% if ex == '3' %}show{% endif %}" aria-labelledby="panelsStayOpen-headingThree">
                        <div class="accordion-body">
                            {% for i in d %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="min-width: 400px; height: 400px; margin-left: auto; margin-right: auto; text-align: center; justify-content: center; padding-top:3%">
            <h3 class="text p-2" style="font-family: 'gmarket';margin:5px">방과후 시간표</h3>
            <div style="width: 70%; min-width: 360px; margin-left: auto; margin-right: auto;">
                <!-- Tabs Navigation -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for i, j in sub %}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link {% if j == '3' %}active{% endif %}" id="tab{{ j }}-tab" data-bs-toggle="tab" data-bs-target="#tab{{ j }}" type="button" role="tab" aria-controls="tab{{ j }}" aria-selected="{% if j == '3' %}true{% else %}false{% endif %}">
                                {{ j }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Tab Content -->
                <div class="tab-content" id="myTabContent" style="">
                    {% for i, j in sub %}
                        <div class="tab-pane {% if j == '3' %}show active{% endif %}" id="tab{{ j }}" role="tabpanel" aria-labelledby="tab{{ j }}-tab" style="padding: 10px">
                            <table class="table table-bordered" style="margin-left: auto; margin-right: auto; width: 70%; min-width: 280px; text-align: center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>선생님</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for s in i %}
                                        <tr>
                                            <td>{{ forloop.counter|add:'7' }}</td>
                                            <td>{{ s }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col" style="min-width: 350px; height: 400px; text-align: center; align-content: center">
            <h3 class="text p-2" style="font-family: 'gmarket';margin: 0px;">특별실 일괄신청</h3>
            <h6 class="text p-2" style="font-family: 'gmarket'; color:gray;margin: 0px">특별실 이동 신청을 한 번에 할 수 있어요.</h6>
            <br>
            <a href="{% url 'pybo:name' %}" class="btn btn-outline-primary" style="color:black"><i class="bi bi-pencil-square"></i> 신청하기</a>
        </div>
    </div>
    <div class="col" id style="min-width: 350px; height: 400px; text-align: center; align-content: center; font-family: 'gmarket'">
            <h3 class="text p-2" style="font-family: 'gmarket';margin: 0px;">앱으로 사용</h3>
            <h6 class="text p-2" style="font-family: 'gmarket'; color:gray;margin: 0px">버튼을 눌러 앱처럼 활용해보세요.</h6>
            <div id="ios-add-to-home-screen" style="padding:10px; width: 80%">
                <p> <img src="/static/images/share.png" alt="Share" style="width: 20px;"> 을 누른 후,'홈 화면에 추가'를 눌러보세요.</p>
            </div>
            <br>
            <button id="add-to-home-screen" class="btn btn-outline-primary">추가하기</button>
    </div>
</div>

<script>
    let deferredPrompt;

    window.addEventListener('beforeinstallprompt', (e) => {
        console.log('beforeinstallprompt event triggered');
        e.preventDefault();
        deferredPrompt = e;
        const addBtn = document.getElementById('add-to-home-screen');
        if (addBtn) {
            addBtn.style.display = 'block';
        } else {
            console.error('Add to home screen button not found');
        }
    });

    window.addEventListener('appinstalled', (evt) => {
        console.log('a2hs', 'installed');
    });

    const isIos = () => {
        const userAgent = window.navigator.userAgent.toLowerCase();
        return /iphone|ipad|ipod/.test(userAgent);
    }

    const isSafari = () => {
        const userAgent = window.navigator.userAgent.toLowerCase();
        return userAgent.includes('safari') && !userAgent.includes('chrome');
    }

    const isInStandaloneMode = () => ('standalone' in window.navigator) && (window.navigator.standalone);

    window.addEventListener('load', () => {
        if (isIos() && isSafari() && !isInStandaloneMode()) {
            const addToHomeScreen = document.getElementById('ios-add-to-home-screen');
            if (addToHomeScreen) {
                addToHomeScreen.style.display = 'block';
            } else {
                console.error('iOS add to home screen element not found');
            }
        }

        flatpickr("#datePicker", {
            dateFormat: "Y-m-d",
            defaultDate: "{{ t }}",
            onChange: function(selectedDates, dateStr, instance) {
                const date = new Date(dateStr);
                const today = new Date(new Date().toDateString());  // 시간 부분을 제거하여 정확히 날짜만 비교
                const dayDiff = Math.floor((date - today) / (1000 * 60 * 60 * 24));
                const url = "{% url 'pybo:hhome' day=0 %}".replace("0", dayDiff);
                window.location.href = url;
            }
        });
    });

    const handleAddToHomeScreenClick = () => {
        if (deferredPrompt) {
            deferredPrompt.prompt();
            deferredPrompt.userChoice.then((choiceResult) => {
                if (choiceResult.outcome === 'accepted') {
                    console.log('User accepted the A2HS prompt');
                } else {
                    console.log('User dismissed the A2HS prompt');
                    showHelpMessage();
                }
                deferredPrompt = null;
            });
        } else {
            showHelpMessage();
        }
    }

    const showHelpMessage = () => {
        alert('앱을 설치하려면 브라우저 메뉴를 사용하여 "홈 화면에 추가"를 선택하십시오.');
    }

    const addBtn = document.getElementById('add-to-home-screen');
    if (addBtn) {
        addBtn.onclick = handleAddToHomeScreenClick;
    } else {
        console.error('Add to home screen button not found');
    }
</script>
{% endblock %}
