{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center; margin-top: 20px; display: block; background-color: black; width: 100%">
        <img src="/static/images/main2.jpg" alt="기본 서브비주얼" style="width: 70%; text-align: center">
    </div>
    <div class="container my-4">
        <h1 class = 'text p-2' style="font-family: 'SUGANG';text-align: center; font-size: 150%;"> 창의적이고 따뜻한 과학인재</h1>
        <h1 class = 'text' style="font-family: 'SUGANG'; text-align: center; font-size:200%">대구일과학고등학교</h1>
    </div>
    <br>
    <br><br>
    <div class="container my-auto hstack" style="font-family: 'Gmarket';">
        <!-- 아코디언 -->
        <div class="col mx-2" style="float:left">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Breakfast
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                  <div class="accordion-body">
                    {% for i in b %}
                        <li>{{ i }}</li>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Lunch
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                  <div class="accordion-body">
                    {% for i in l %}
                        <li>{{ i }}</li>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Dinner
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                  <div class="accordion-body">
                    {% for i in d %}
                        <li>{{ i }}</li>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="vr"></div>

        <!--준비중-->
        <div class="col text-center" style="float:right">
            <h3>새로운 기능을 준비 중이에요!</h3>
        </div>
    </div>
{% endblock %}