{% extends 'base.html' %}
{% block content %}
<div style="display: flex; align-items: center; justify-content: center; min-height: calc(100vh - 300px); font-family: 'gmarket';">
    <form action="{% url 'pybo:name_re' %}" method="GET" id="loc" style="text-align: center; max-width: 400px;">
        {% csrf_token %}
        <div id="input-container">
            <div>
                <label for="loc-input" class="form-label" style="font-size: 20px;margin-top: 20px">학번 혹은 이름</label>
                {% for i in stu_list %}
                    <input class="form-control-lg" style="max-width: 300px; margin-top: 10px" list="datalistOptions" id="loc-input" name="loc" type="search" value="{{ i }}">
                    <datalist id="datalistOptions">
                        {% for i in lib %}
                            <option value="{{ i }}">
                        {% endfor %}
                    </datalist>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="btn-group" style="text-align: center;">
            <input class="btn btn-outline-secondary" type="submit" value="완료">
            <button type="button" class="btn btn-secondary" onclick="addInput()">+</button>
        </div>
    </form>
</div>
<div style="margin:150px"></div>

<script>
    function addInput() {
        var container = document.getElementById('input-container');
        var newInputDiv = document.createElement('div');
        newInputDiv.innerHTML = `
            <input class="form-control-lg" style="max-width: 300px; margin-top: 10px;" list="datalistOptions" name="loc" type="search">
        `;
        container.appendChild(newInputDiv);
    }
</script>
{% endblock %}