{% extends 'base.html' %}
{% block content %}
    <style>
        textarea {
            width: 100%;
            height: 200px;
        }
        en{
            font-style:normal;
        }
        .corrected-text {
            white-space: pre-wrap;
        }
        .red_text {
            color: #e50f29;
        }
        .green_text {
            color: #07d307;
        }
        .blue_text {
            color: #0054ff;
        }
        .loading {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div style="padding: 50px;font-family: 'Gmarket'">
        <h1>글자수세기</h1>
        <br>
        <div class="form-floating" style="border: 2px solid darkslategray; border-top-left-radius: 10px; border-top-right-radius: 10px; padding: 20px; padding-left: 30px">
            <h6 style="font-family: 'Gmarket'">입력창</h6>
            <textarea class="form-control no-outline" id="textInput" style="font-size: 120%; min-height:300px; border: none; outline:none; font-family:'KoPub';"></textarea>
            <button class='btn btn-success' id="checkButton">맞춤법 검사</button>
            <div class="loading" id="loading" style="color:gray">로딩 중...</div>
        </div>

        <div style="border: 2px solid darkslategray; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 20px; padding-left: 30px; border-top:none">
            <h6 style="font-family: 'Gmarket'">글자 정보</h6>
            <table class="table table-bordered " style="max-width: 700px">
                <thead>
                    <tr class="text-center">
                        <th>byte</th>
                        <th>글자 수(공백포함)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" style="font-size:25px">
                        <td class="border">
                            <span id="byteCount">0</span>
                        </td>
                        <td>
                            <span id="charCount">0</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h6 style="font-family: 'Gmarket'">맞춤법 검사 결과</h6>
            <span id="spellCheckResult"></span>
            <div class="corrected-text" id="correctedText" style=""></div>
        </div>

        <br>
        <table class="table table-bordered " style="max-width: 700px">
                <thead>
                    <tr class="text-center">
                        <th>한글</th>
                        <th>엔터</th>
                        <th>영어, 기호</th>>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td class="border">
                            <span id="byteCount">0</span>
                        </td>
                        <td>
                            <span id="charCount">0</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        <br>
        <h7 style="color:gray; font-family: 'Gmarket'">POWERED by <a href="https://github.com/OpenBapul/hml-equation-parser">OpenBapul</a></h7>
    </div>

    <script>
        $(document).ready(function() {
            $('#textInput').on('input', function() {
                const text = $(this).val();
                updateCounts(text);
            });

            $('#checkButton').on('click', function() {
                const text = $('#textInput').val();
                $('#loading').show();
                checkSpelling(text);
            });

            function updateCounts(text) {
                const charCount = text.length;
                const byteCount = getByteCount(text);
                $('#charCount').text(charCount);
                $('#byteCount').text(byteCount);
            }

            function getByteCount(text) {
                let byteCount = 0;
                for (let i = 0; i < text.length; i++) {
                    const char = text.charAt(i);
                    if (char.match(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/)) {
                        byteCount += 3;
                    } else if (char === '\n') {
                        byteCount += 2;
                    } else {
                        byteCount += 1;
                    }
                }
                return byteCount;
            }

            function checkSpelling(text) {
                $.ajax({
                    url: '{% url 'pybo:check_spelling' %}',  // Django 뷰 URL
                    data: { text: text },
                    dataType: 'json',
                    timeout: 5000, // 타임아웃 설정 (5초)
                    success: function(response) {
                        $('#loading').hide();
                        if (response.errata_count > 0) {
                            $('#spellCheckResult').html(response.errors);
                            $('#correctedText').html(response.correctedText); // HTML 렌더링
                        } else {
                            $('#spellCheckResult').html('맞춤법 오류 없음');
                            $('#correctedText').html('모든 문장이 올바르게 작성되었습니다.');
                        }
                    },
                    error: function(xhr, status, error) {
                        $('#loading').hide();
                        console.error('Error:', status, error); // 디버깅용 로그
                        $('#spellCheckResult').text('맞춤법 검사 실패');
                    }
                });
            }
        });
    </script>
{% endblock %}