{% extends 'base.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;font-family: 'KoPub Dotum'">
    <div class="card p-4" style="max-width: 350px; width: 100%;">
        <h3 class="text-center mb-4">PASSWORD</h3>
        <form method="post" action="{% url 'pybo:password' pcard_id task %}">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" style="border-right: none" required>
                <button type="button" class="btn" style="border-top: 1px solid #ccd2d8;border-bottom: 1px solid #ccd2d8;" onclick="togglePasswordVisibility()">
                    <i class="bi bi-eye" id="eyeIcon"></i>
                </button>
                <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i></button>
            </div>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </form>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.getElementById('eyeIcon');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('bi-eye');
            eyeIcon.classList.add('bi-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('bi-eye-slash');
            eyeIcon.classList.add('bi-eye');
        }
    }
</script>
{% endblock %}
