{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">특별실 사용 신청</h5>
    <form action="{% url 'pybo:PreCard_create' stu_id %}" method="post">
        {% csrf_token %}
        <h6>특별실 명</h6>
            {{ form.to }}
        <br>
        <h6>사용 목적 및 사유</h6>
            {{ form.why }}
        <br>
        <h6>이동 시간</h6>
            {{ form.time }}
        <br>
        <button type="submit" class="btn btn-primary">신청</button>
    </form>
    <br>
    <br>
</div>
{% endblock %}