{% extends 'base.html' %}
{% block content %}
<div style="margin: 5%">
    <h1 class="my-3 border-bottom pb-2" style="font-family: 'gmarket'">특별실 사용 신청</h1>
</div>
<div class="container" style="font-family: 'gmarket';display: flex; flex-wrap: wrap; text-align: center" >
    <div>
        <form action="{% url 'pybo:PreCard_create_many' l %}" method="post" style="min-width: 310px">
            {% csrf_token %}
            <div class="form-floating" style="margin: 1%;width: 300px">
                {{ form.to }}
                 <label for="name">특별실 명</label>
            </div>
            <div class="form-floating" style="margin: 1%;width: 300px">
                {{ form.why }}
                <label for="why">사용 목적 및 사유</label>
            </div>
            <div class="form-floating" style="margin: 1%;width: 300px">
                {{ form.time }}
                <label for="when">이동 시간</label>
            </div>
            <button type="submit" class="btn btn-primary" style="margin: 1%;width: 300px">신청</button>
            <br>
            <br>
        </form>
    </div>
    <div style="width: 30%; min-width: 200px">
        <h5>신청자</h5>
        {% for i in slib %}
            <h4>{{ i.num }} {{ i.name }}</h4>
        {% endfor %}
    </div>
</div>
{% endblock %}