{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" style="font-weight: bolder" > {{ student.num }} {{ student.name }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">
                {{ student.card_set.last.to }}
                {{ student.card_set.last.why }}
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2">
                    {{ student.card_set.last.moving_date }}
                </div>
            </div>
        </div>
    </div>
    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">이동 보고</h5>
    <div class="container-sm">
        <div class="container">
            <div class="row">
                <form action="{% url 'pybo:card_create' student.id %}" method="get" id="loc">
                    {% csrf_token %}
                        <div class="col-sm">
                            <select name="loc" id="loc" class='form-select' size=3 multiple aria-label="multiple select example">
                                <option value="화장실">화장실</option>
                                <option value="장탁이용중">장탁</option>
                                <option value="재실">복귀</option>
                            </select>
                        </div>

                        <div class = 'col-sm'>
                            <input type="submit" value="Sumbit" class = 'btn btn-primary my-1'>
                        </div>
                </form>
                <div class="col-sm">
                    <a href="{% url 'pybo:PreCard_create' student.id %}" class="btn btn-primary">특별실 이동 신청</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}