{% extends 'base.html' %}
{% block content %}
    <div class="justify-content-center align-content-center" style="padding: 30px;width: 100%;font-family: 'KoPub Dotum'">
        <div style="display: flex; flex-wrap: wrap; margin-left:auto;margin-right:auto;width: 90%;height: 45%">
            <div style="width: 45%">
                <h2>화장실</h2>
                <table class="table" style="overflow-x:hidden; overflow-y:scroll; height:40%;">
                    <thead>
                        <tr class="table-secondary">
                            <th>학번</th>
                            <th>이름</th>
                            <th>등록일시</th>
                            <th>경과시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, t in rest %}
                            <tr>
                                <td>{{ i.stu.num }}</td>
                                <td>{{ i.stu.name }}</td>
                                <td>{{ i.moving_date}}</td>
                                <td>{{ t }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="margin: 2%"></div>
            <div style="width: 45%">
                <h2>장탁</h2>
                <table class="table" style="">
                    <thead>
                        <tr class="table-secondary">
                            <th>학번</th>
                            <th>이름</th>
                            <th>등록일시</th>
                            <th>경과시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, t in standing %}
                            <tr>
                                <td>{{ i.stu.num }}</td>
                                <td>{{ i.stu.name }}</td>
                                <td>{{ i.moving_date }}</td>
                                <td>{{ t }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-left:auto;margin-right:auto;width: 90%;height: 45%">
            <h2>기타</h2>
            <table class="table" style="">
                <thead>
                    <tr class="table-secondary">
                        <th>학번</th>
                        <th>이름</th>
                        <th>위치</th>
                        <th>등록일시</th>
                        <th>경과시간</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, t in etc %}
                        <tr>
                            <td>{{ i.stu.num }}</td>
                            <td>{{ i.stu.name }}</td>
                            <td>{{ i.to }}</td>
                            <td>{{ i.moving_date.time }}</td>
                            <td>{{ t }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="margin-left:auto;margin-right:auto;width: 90%;height: 45%">
            <h2>특별실</h2>
            <table class="table" style="">
                <thead>
                    <tr class="table-secondary">
                        <th>학번</th>
                        <th>이름</th>
                        <th>위치</th>
                        <th>등록일시</th>
                        <th>경과시간</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, t in out %}
                        <tr>
                            <td>{{ i.stu.num }}</td>
                            <td>{{ i.stu.name }}</td>
                            <td>{{ i.to }}</td>
                            <td>{{ i.moving_date.time }}</td>
                            <td>{{ t }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style='color:gray;margin:20px'>
            ※{{ ctime }} 기준
        </div>
    </div>

    <script>
        function updateUrlParameter(param, value) {
            var baseUrl = [location.protocol, '//', location.host, location.pathname].join('');
            var urlQueryString = document.location.search;
            var newParam = param + "=" + value;
            var params = '?' + newParam;

            // If the "search" string exists, then build params from it
            if (urlQueryString) {
                var keyRegex = new RegExp('([\?&])' + param + '[^&]*');
                // If param exists already, update it
                if (urlQueryString.match(keyRegex) !== null) {
                    params = urlQueryString.replace(keyRegex, "$1" + newParam);
                } else { // Otherwise, add it to end of query string
                    params = urlQueryString + '&' + newParam;
                }
            }
            window.history.replaceState({}, "", baseUrl + params);
        }
    </script>
    <script>
        let timeout;

        function resetTimer() {
            clearTimeout(timeout);
            // 사용자 활동 후 10초 후에 페이지 새로고침
            timeout = setTimeout(() => {
                window.location.reload();
            }, 10000);
        }

        // 사용자의 스크롤, 클릭, 키보드 입력 감지
        window.onload = () => {
            window.addEventListener('scroll', resetTimer, true);
            window.addEventListener('click', resetTimer, true);
            window.addEventListener('keypress', resetTimer, true);

            // 처음 타이머 설정
            resetTimer();
        }
    </script>
{% endblock %}
