{% extends 'base.html' %}
{% block content %}
    <div class="justify-content-center align-content-center" style="padding: 30px;width: 100%;font-family: 'kopub'">
        <div style="display: flex; flex-wrap: wrap; margin-left:auto;margin-right:auto;width: 90%;height: 45%">
            <div style="width: 45%">
                <h2>화장실</h2>
                <table class="table" style="overflow-x:hidden; overflow-y:scroll; height:40%;">
                    <thead>
                        <tr class="table-secondary">
                            <th>학번</th>
                            <th>이름</th>
                            <th>등록일시</th>
                            <th>경과시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, t in rest %}
                            <tr>
                                <td>{{ i.stu.num }}</td>
                                <td>{{ i.stu.name }}</td>
                                <td>{{ i.moving_date}}</td>
                                <td>{{ t }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="margin: 2%"></div>
            <div style="width: 45%">
                <h2>장탁</h2>
                <table class="table" style="">
                    <thead>
                        <tr class="table-secondary">
                            <th>학번</th>
                            <th>이름</th>
                            <th>등록일시</th>
                            <th>경과시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i, t in standing %}
                            <tr>
                                <td>{{ i.stu.num }}</td>
                                <td>{{ i.stu.name }}</td>
                                <td>{{ i.moving_date }}</td>
                                <td>{{ t }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-left:auto;margin-right:auto;width: 90%;height: 45%">
            <h2>특별실</h2>
            <table class="table" style="">
                <thead>
                    <tr class="table-secondary">
                        <th>학번</th>
                        <th>이름</th>
                        <th>위치</th>
                        <th>등록일시</th>
                        <th>경과시간</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i, t in out %}
                        <tr>
                            <td>{{ i.stu.num }}</td>
                            <td>{{ i.stu.name }}</td>
                            <td>{{ i.to }}</td>
                            <td>{{ i.moving_date.time }}</td>
                            <td>{{ t }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style='text-align:center'>
            <h2 style='font-family:'KoPub''>기준시각: {{ t }}</h2>
        </div>
    </div>
{% endblock %}
