{% extends 'base.html' %}
{% block content %}

<div class="container-sm my-3" style="font-family: 'Kopub'">
    <table class="table table-hover table-bordered">
        <thead>
        <tr class="table bg-success text-white">
            <th class="text-center">인적사항</th>
            <th>상태</th>
            <th>최종 기록 일시</th>
        </tr>
        </thead>
        <tbody>
        {% if stu_list %}
            {% for student in stu_list %}
            <tr>
                <td class="border text-center" onClick="location.href='{% url 'pybo:detail' student.id %}'">
                    {{ student.num }} {{ student.name }}
                </td>
                <td onClick="location.href = '{% url 'pybo:detail' student.id %}'">
                    {{ student.card_set.last.to }}
                </td>
                <td onClick="location.href = '{% url 'pybo:detail' student.id %}'">
                    {{ student.card_set.last.moving_date }}
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 학생이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if stu_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ stu_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in stu_list.paginator.page_range %}
        {% if page_number == stu_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if stu_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ stu_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>

{% endblock %}