{% extends 'base.html' %}
{% block content %}
<div class="text-center" style="display: flex; width: 100%; justify-content: center;">
    {% for i in batch %}
        <div class="srow">
            {% for j in i %}
                {% if j.0 == 0 %}
                    <div class="non_seat" >
                        <span>X</span>
                    </div>
                {% else %}
                    <div class="seat" onclick=" location.href='{% url 'pybo:Quick' j.0 %}'" style="background-color:{{ j.2 }}">
                        <h5 style="margin: 2px">{{ j.0 }}</h5>
                        {{ j.1 }}
                        <div style="background-color: #e0dede; border-radius: 5px">{{ j.3 }}<div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class='middle'></div>
    {% endfor %}

</div>
    <br>
    <br>
    <br>
    <br>
    <br>


{% endblock %}