<!doctype html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        .seat{
            height: 90px;
            width: 110px;
            margin: 3px;
            background-color: #D4D4D4;
        }
    </style>
</head>
<body>
    <div class="container" style="align-content: center">
        <div class="row">
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
        </div>
        <div class="row">
            <div class="seat">
                <span>1314<br>임지원</span>
            </div>
        </div>
    </div>
</body>
</html>