{% extends 'base.html' %}
{% block content %}

<div class="row" style="text-align: center; padding: 30px;font-family: 'KoPub Dotum'">
    <h1 style=" ">Tool box</h1>
    <span style=" color:#3f3f3f"> 이 사이트 one Tool로 만들어드릴게요.</span>

    <div style="margin: 30px"></div>

    <div class="" style="display: flex; justify-content: center">
        <div class="card" style="width: 300px; margin: 10px; text-align: left">
            <div class="card-header">
            </div>
            <div class="card-body" >
                <h5 class="card-title"> <b>Hml to LaTeX</b> </h5>
                <p class="card-text" >LaTeX를 모르는 당신을 위해..<br>한글 수식을 LaTeX로 변환해줍니다.</p>
                <a href="{% url 'pybo:hmltolatex' %}" class="btn btn-primary">Start</a>
            </div>
        </div>
        <div class="card" style="width: 300px;margin: 10px;text-align: left">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title"> <b>글자수 세기(나이스) </b> </h5>
                <p class="card-text">나이스 기준으로 글자수를 셉니다.</p>
                <a href="{% url 'pybo:neis' %}" class="btn btn-primary">Start</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}