{% extends 'base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col" style="width: 30%">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">Hml to LaTeX</h5>
                <p class="card-text">한글 수식을 LaTeX로 변환해줍니다. 멋지죠?</p>
                <a href="{% url 'pybo:hmltolatex' %}" class="btn btn-primary">Start</a>
            </div>
        </div>
    </div>
    <div class="col" style="width: 30%">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">글자수 세기(나이스)</h5>
                <p class="card-text">나이스의 인코딩 형식인 UTF-8을 기준으로 글자수를 셉니다.</p>
                <a href="#" class="btn btn-primary">Start</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}